.navbar-dark .navbar-nav .nav-link {
  color: #d2d2d2 !important;
}

.navbar-dark .navbar-brand {
  font-size: 1.25rem !important;
  font-weight: 700 !important;
  color: #ffffff !important;
  font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif !important;
}

.navbar-nav {
  font-weight: 100;
  float: right;
  margin-left: auto;
}